.SignInMain {
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: background-color .2s ease-out;
}

.SignInMain .NameForm input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ffffff;
    width: 165px;
    background-color: #f0f0f0;
    margin-right: 10px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #505050;
}

.SignInMain .NameForm button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px #0066FF;
    border-radius: 5px;
}

.SignInMain .NameForm button:hover{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px #0066FF;
    border-radius: 5px;
    background-color: #003399;
    cursor: pointer;
}